<div class="zone"></div>
<div class="container">
  <div class="form">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_GHSO-par_ewlqsb.png', class: 'img-fluid logo' %>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to new_megeve_vip_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307611/flag_of_france_pdulkk.png', class: 'avatar' %>
        <% end %>
        <%= link_to new_en_megeve_vips_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307598/image_en_diq4zx.jpg', class: 'avatar' %>
        <% end %>
      </div>
      <p class='polite'>Dear Guest</p>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <%= simple_form_for @megeve_vip do |f| %>
          <fieldset class="form-group checkbox optional megeve_vip">
            <legend class="col-form-label pt-0">In order to prepare your next stay, could you please tell us your preferred communication method?</legend>
            <input type="hidden" name="megeve_vip[best_way_id]" value="">
            <% BestWay.all[0..2].each do |best_way| %>
              <div class="squaretag-item">
                <input class="form-check-input checkbox optional squaretag-selector" type="checkbox" value="<%= best_way.id %>"  name="megeve_vip[best_way_id]" id="megeve_vip_id_<%= best_way.id %>">
                <label class="form-check-label collection_checkbox" for="megeve_vip_id_<%= best_way.id %>">
                  <%= best_way.name %>
                </label>
              </div>
            <% end %>
          </fieldset>
          <%= f.input :phone, label: 'Would you please acquaint your phone number' %>
          <fieldset class="form-group checkbox optional megeve_vip">
            <legend class="col-form-label pt-0">Which moment is the best to join you ? </legend>
            <input type="hidden" name="megeve_vip[best_moment_id]" value="">
            <% BestMoment.all[0..3].each do |best_moment| %>
              <div class="squaretag-item">
                <input class="form-check-input checkbox optional squaretag-selector" type="checkbox" value="<%= best_moment.id %>"  name="megeve_vip[best_moment_id]" id="megeve_vip_id_<%= best_moment.id %>">
                <label class="form-check-label collection_checkbox" for="megeve_vip_id_<%= best_moment.id %>">
                  <%= best_moment.name %>
                </label>
              </div>
            <% end %>
          </fieldset>
          <p>Can you confirm the following informations for security purpose</p>
          <%= f.input :name %>
          <%= f.input :first_name %>
          <%= f.input :email , required: false%>
          <p>You now can process the validation</p>
          <%= f.button :submit, 'validate', id: 'validate' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <p class= "signature">Dans l'attente de vous accueillir à Megève</p><br>
        <p class= "signature">Yann Watrigan</p>
        <p class= "signature">Maître de Maison</p>
        <p class= "signature">+33 (0)4 50 34 31 06</p>
        <p class= "signature">contact@lesoleildor-megeve.fr</p>
      </div>
    </div>
  </div>
</div>
