<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_raba-par_meix0l.png', class: 'img-fluid logo' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to new_raba_vip_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307611/flag_of_france_pdulkk.png', class: 'avatar' %>
        <% end %>
        <%= link_to new_en_raba_vips_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307598/image_en_diq4zx.jpg', class: 'avatar' %>
        <% end %>
      </div>
      <p class='polite'>Dear Guest</p>
      <p class="text">In order to prepare your next stay, could you please tell us your preferred communication method? </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="form">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">

      <p class= "regards">We look forward to welcoming you in Talence</p>
      <p class= "signature">William Numa </p>
      <p class= "signature">Maitre de Maison </p>
      <p class= "signature">+33 (0) 5 57 26 58 28 </p>
      <p class= "signature">contact@domainederaba-talence.fr</p>
    </div>
  </div>

</div>
