<div class="zone"></div>
<div class="container">
  <div class="form">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_sacy-par_ftdiou.png', class: 'img-fluid logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="flag">
          <%= link_to new_raba_vip_path do %>
            <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307611/flag_of_france_pdulkk.png', class: 'avatar' %>
          <% end %>
          <%= link_to new_en_raba_vips_path do %>
            <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307598/image_en_diq4zx.jpg', class: 'avatar' %>
          <% end %>
        </div>
        <p class="top">Notre conciergerie vous contactera très bientôt !</p>

        <p class='polite'>Madame, Monsieur,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <%= simple_form_for @sacy_vip do |f| %>
          <%= f.association :best_ways, as: :check_boxes,
            label: 'Afin de préparer votre prochain séjour, pourriez-vous s’il vous plait nous communiquer votre moyen de communication préféré ?',
            input_html: { class: "squaretag-selector" },
            item_wrapper_class: 'squaretag-item' %>
          <%= f.input :phone, label: 'Veuillez nous indiquer votre numéro de téléphone.' %>
          <p>Quel est le meilleur moment pour vous joindre ? </p>
          <%= f.association :best_moments, as: :check_boxes,
            label: '',
            input_html: { class: "squaretag-selector" },
            item_wrapper_class: 'squaretag-item' %>
          <p>Et enfin par simple mesure de sécurité, veuillez confirmer les informations suivantes.</p>
          <%= f.input :name, label: 'Nom' %>
          <%= f.input :first_name, label: 'Prénom' %>
          <%= f.input :email, label: 'Adresse Email'  %>
          <p>Vous pouvez maintenant valider.</p>
          <%= f.button :submit, 'valider', id: 'validate' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <p class='signature'>Dans l'attente de vous accueillir à Sacy" </p><br>
        <p class='signature'>Estelle Bichon</p>
        <p class='signature'>Maitre de Maison</p>
        <p class='signature'>+33 (0)3 26 07 60 38</p>
        <p class='signature'>contact@chateaudesacy-reims.fr</p>
      </div>
    </div>
  </div>
</div>
