<h1>Bonjour Estelle</h1>

<% if @sacy_vip.first_name.present? && @sacy_vip.name.present? %>
  <p> Notre invité(e) <%= @sacy_vip.first_name + ' ' + @sacy_vip.name %> souhaite être contacté(e) par la conciergerie pour sa réservation prochaine</p>
<% else %>
  <p><%= @sacy_vip.email %> souhaite passer par la conciergerie pour sa réservation prochaine</p>
<% end %>
<p> Voici les méthode(s) préférée(s) renseignées.</p>
<% if @sacy_vip.best_ways.present? %>
  <% @sacy_vip.best_ways.each do |n| %>
    <p><%= n.name %></p>
  <% end %>
<% end %>
<p> Voici les moments à privilégier </p>
<% if @sacy_vip.best_moments.present? %>
  <% @sacy_vip.best_moments.each do |n| %>
    <p><%= n.name %></p>
  <% end %>
<% end %>
<p>Voici le lien vers <%= link_to 'expérience hotel', 'https://www.experience-hotel.com/fr', target: 'blank'%> pour remplir les informations collectées dans la solution </p>
<p> Belle Journée </p>
