<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_brindos-par_barxkz.png', class: 'img-fluid logo' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to brindos_lac_et_chateau_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307611/flag_of_france_pdulkk.png', class: 'avatar' %>
        <% end %>
        <%= link_to brindos_lac_et_chateau_en_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307598/image_en_diq4zx.jpg', class: 'avatar' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1665407432/Capture_d_e%CC%81cran_2022-10-10_a%CC%80_15.01.21_npow69.png' , class: 'img-fluid'%>
    </div>
  </div>
</div>
