<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_sacy-par_ftdiou.png', class: 'img-fluid logo' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to chateau_de_sacy_path do %>
          <%= image_tag 'flag_of_france.png', class: 'avatar' %>
        <% end %>
        <%= link_to chateau_de_sacy_en_path do %>
          <%= image_tag 'image_en.jpeg', class: 'avatar' %>
        <% end %>
      </div>

      <p class='polite'>Dear Mrs … / Dear Mr..</p>

      <p class="text">In order to prepare your next stay, could you please tell us your preferred communication method? </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <%= simple_form_for @sacy_vip do |f| %>
        <%= f.input :phone %>
        <%= f.association :best_ways, as: :check_boxes %>
        <%= f.input :email %>
        <%= f.association :best_moments, as: :check_boxes %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <p class= "regards">We look forward to welcoming you in Sacy, </p>
      <p class= "signature">Estelle Bichon</p>
      <p class= "signature">Maitre de Maison</p>
      <p class= "signature">+33 (0)3 26 07 60 38</p>
      <p class= "signature">contact@chateaudesacy-reims.fr</p>
    </div>
  </div>

</div>
