<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_GHSO-par_ewlqsb.png', class: 'img-fluid logo' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to le_soleil_d_or_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307611/flag_of_france_pdulkk.png', class: 'avatar' %>
        <% end %>
        <%= link_to le_soleil_d_or_en_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1664307598/image_en_diq4zx.jpg', class: 'avatar' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <p class="top">Our concierge will contact you very soon!</p>

      <p class='polite'>Dear Mrs … / Dear Mr..</p>

      <p class="text">In order to prepare your next stay, could you please tell us your preferred communication method? </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <%= simple_form_for @megeve_vip do |f| %>
        <%= f.input :phone %>
        <%= f.association :best_ways, as: :check_boxes %>
        <%= f.input :email %>
        <%= f.association :best_moments, as: :check_boxes %>
        <%= f.button :submit, 'valider'%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <p class= "regards">We look forward to welcoming you in Megève, </p>
      <p class= 'signature'> Yann Watrigan </p>
      <p class= 'signature'> Maître de Maison </p>
      <p class= 'signature'> +33 (0)4 50 34 31 06 </p>
      <p class= 'signature'> contact@lesoleildor-megeve.fr </p>
    </div>
  </div>

</div>

<form action="chateau_de_sacy.html.erb" method="GET">
    <input type="text" name="serialNumber" />
    <input type="submit" value="Submit" />
</form>
