<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_GHSO-par_ewlqsb.png', class: 'img-fluid logo'%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <div class="flag">
        <%= link_to le_soleil_d_or_path do %>
          <%= image_tag 'flag_of_france.png', class: 'avatar' %>
        <% end %>
        <%= link_to le_soleil_d_or_en_path do %>
          <%= image_tag 'image_en.jpeg', class: 'avatar' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <p class="top">Notre conciergerie vous contactera très bientôt !</p>

      <p class='polite'>Chère Madame XX / Cher Monsieur XX,</p>

      <p class="text">Afin de préparer votre prochain séjour, pourriez-vous s’il vous plait nous communiquer votre moyen de communication préféré ?</p>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <%= simple_form_for @megeve_vip do |f| %>
        <%= f.input :phone %>
        <%= f.association :best_ways, as: :check_boxes %>
        <%= f.input :email %>
        <%= f.association :best_moments, as: :check_boxes %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <p class= "regards">Dans l'attente de vous accueillir à Megève" </p>
      Yann Watrigan
      Maître de Maison
      +33 (0)4 50 34 31 06
      contact@lesoleildor-megeve.fr
    </div>
  </div>

</div>
